h4.mb-3 Dejanos tus datos y nosotros nos comunicaremos
form
	.form-group
		label Nombre y Apellido
		input.form-control(type="text", name="")
	.form-group
		label Email
		input.form-control(type="text", name="")
	.form-group
		label Teléfono
		input.form-control(type="text", name="")
	button.btn.btn-success(type="submit") Enviar